<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        * {
            box-sizing: border-box;
        }
        
        input[type=text],
        input[type=number],
        select,
        option,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        
        input[type=submit],
        button {
            background-color: #747474;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        
        input[type=submit]:hover,
        button:hover {
            background-color: #353535;
        }
        
        .container {
            margin: 0 auto;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        
        .col-25 {
            float: left;
            text-align: "right";
            width: 25%;
            margin-top: 6px;
        }
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        
        .col-space {
            padding-left: 20px;
        }
        
        #agreeTable a:link,
        #agreeTable a:visited {
            color: #353535;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* 반응형 : 너비 950px 이하 */
        
        @media screen and (max-width: 950px) {
            .col-25,
            .col-75,
            input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
            .col-space {
                padding-left: 0;
            }
        }
    </style>
</head>

<body>
    <h2>스튜디오 등록</h2>
    <div class="container">
        <form id="app" method="post" @submit.prevent="addStudio">
            <div class="row">
                <div class="col-25">
                    <label for="name">스튜디오 이름</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name" v-model="studio.name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="country">스튜디오 종류</label>
                </div>
                <div class="col-75">
                    <select id="categoryId" name="categoryId" v-model="studio.categoryId" required>
                        <option value="1">카페</option>
                        <option value="2">스튜디오</option>
                        <option value="3">집</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="description">스튜디오 소개</label>
                </div>
                <div class="col-75">
                    <textarea id="description" name="description" v-model="studio.description" style="height:100px"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="rule">이용 수칙</label>
                </div>
                <div class="col-75">
                    <textarea id="rule" name="rule" v-model="studio.rule" style="height:100px"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="mainImg">대표 사진</label>
                </div>
                <div class="col-75">
                    <!-- 파일 업로드 -->
                    <input type="text" id="mainImg" name="mainImg" v-model="studio.mainImg" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="tag">태그</label>
                </div>
                <div class="col-25">
                    <input type="text" name="tag" placeholder="#">
                </div>
                <div class="col-25">
                    <input type="text" name="tag" placeholder="#">
                </div>
                <div class="col-25">
                    <input type="text" name="tag" placeholder="#">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="address">주소</label>
                </div>
                <div class="col-75">
                    <!-- 주소 처리 -->
                    <input type="text" id="address" name="address" v-model="studio.mainImg" required>
                    <button type="button">찾기</button>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="floor">층수</label>
                </div>
                <div class="col-25">
                    <input type="text" id="floor" name="floor" v-model="studio.floor">
                </div>
                <div class="col-25 col-space">
                    <label for="size">면적</label>
                </div>
                <div class="col-25">
                    <input type="text" id="size" name="size" v-model="studio.studioFilter.size" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="cadImg">공간 도면</label>
                </div>
                <div class="col-75">
                    <!-- 파일 업로드 -->
                    <input type="text" id="cadImg" name="cadImg" v-model="studio.cadImg" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="unitPrice">시간당 대여료</label>
                </div>
                <div class="col-25">
                    <input type="text" id="unitPrice" name="unitPrice" v-model="studio.studioFilter.unitPrice">
                </div>
                <div class="col-25 col-space">
                    <label for="excharge">인원 추가시 1인당 대여료</label>
                </div>
                <div class="col-25">
                    <input type="text" id="excharge" name="excharge" v-model="studio.studioFilter.excharge" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="defaultCapacity">기본 인원</label>
                </div>
                <div class="col-25">
                    <input type="text" id="defaultCapacity" name="defaultCapacity" v-model="studio.studioFilter.defaultCapacity" required>
                </div>
                <div class="col-25 col-space">
                    <label for="maxCapacity">최대 인원</label>
                </div>
                <div class="col-25">
                    <input type="text" id="maxCapacity" name="maxCapacity" v-model="studio.studioFilter.maxCapacity" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">운영 시간</label>
                </div>
                <div class="col-75">
                    <!-- 시간표 -->
                    <input type="text" id="weekDate" name="weekDate" placeholder="요일" required>
                    <input type="text" id="time" name="time" placeholder="시간" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="parkFlag">주차 가능</label>
                </div>
                <div class="col-25">
                    <input type="radio" name="parkFlag" value="unable" @change="checkParkFlag('no')" checked> 불가
                    <input type="radio" name="parkFlag" value="able" @change="checkParkFlag('yes')">가능
                </div>
                <span id="parkAmount" style="display: none;">
                    <div class="col-25 col-space">
                        <label for="parking">주차 가능 대수</label>
                    </div>
                    <div class="col-25">
                        <!-- 음수를 입력했을 때 0으로 -->
                        <input type="number" id="parking" name="parking" ref="parking" v-model="studio.studioFilter.parking">
                    </div>
                </span>
            </div>
            <div class="row">
                <div class="col-25 col-space" style="padding-left:0">
                    <label for="options">장비 및 옵션</label>
                </div>
                <div class="col-75">
                    <table>
                        <tr>
                            <td>
                                <select name="options" size="4" v-model="studio.studioFilter.options" multiple>
                                <option>카메라</option>
                                <option>조명</option>
                                <option>반사판</option>
                                <option>포토그래퍼</option>
                            </select>
                            </td>
                            <td>
                                <button type="button" @click="controlOptions('add')">></button>
                                <br/>
                                <button type="button" @click="controlOptions('remove')"></button>
                                <!-- 채은 : button앞에 '<' 붙어있어서 삭제. 
                                    제가 한 부분은 지우셔도 됩니다.-->
                            </td>
                            <td>
                                <select size="4" multiple>
                                <option></option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="portImg">포트폴리오</label>
                </div>
                <div class="col-75">
                    <!-- 파일 업로드 -->
                    <input type="text" id="portImg" name="portImg" v-model="studio.portImg" required>
                </div>
            </div>
            <div class="row">
                <p>서비스 동의</p>
                <table id="agreeTable" width="100%" style="padding-bottom: 20px; border-top: 1px solid #747474;">
                    <tr style="background:white; height:80px;">
                        <td>
                            <input type="checkbox" name="checkAgree[]" value="1" @change="controlAgree('partCheck')">
                            <a href="#">환불 규정 안내에 대한 동의</a>
                        </td>
                        <td>
                            <input type="checkbox" name="checkAgree[]" value="2" @change="controlAgree('partCheck')">
                            <a href="#">개인 정보 제 3자 제공 동의</a>
                        </td>
                        <td>
                            <input type="checkbox" name="checkAgree[]" value="3" @change="controlAgree('partCheck')">
                            <a href="#">개인 정보 수집 및 이용 동의</a>
                        </td>
                    </tr>
                    <tr style="background:#D5D5D5; height:50px;">
                        <td colspan="3" align="center">
                            <input type="checkbox" id="allCheckAgree" @change="controlAgree('allCheck')">
                            <span>전체동의</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    studio: {
                        categoryId: '',
                        name: '',
                        description: '',
                        rule: '',
                        mainImg: '',
                        portImg: '',
                        cadImg: '',
                        floor: '',
                        studioFilter: {
                            size: '',
                            options: '',
                            parking: '',
                            unitPrice: '',
                            defaultCapacity: '',
                            excharge: '',
                            address: '',
                            maxCapacity: ''
                        }
                    }
                }
            },
            methods: {
                checkParkFlag(flag) {
                    if (flag == 'yes') { //주차 가능(주차대수 입력 영역 보임)
                        document.getElementById('parkAmount').setAttribute('style', 'display: block;');
                        if (!this.parking) {
                            alert("주차 가능 대수를 입력하세요.")
                            this.$refs.parking.focus();
                        }
                    }
                    if (flag == 'no') { // 주차 불가
                        document.getElementById('parkAmount').setAttribute('style', 'display: none;');
                    }
                },
                controlOptions(control) {
                    if (control == 'add') { //옵션 추가
                        alert("추가");
                    }
                    if (control == 'remove') { //옵션 제거
                        alert("제거");
                    }
                },
                controlAgree(control) {
                    let agrees = document.getElementsByName('checkAgree[]');
                    let allAgree = document.getElementById('allCheckAgree');
                    if (control == 'allCheck') { //전체동의 선택시 모두 선택
                        for (i = 0; i < agrees.length; i++) {
                            agrees[i].checked = allAgree.checked;
                        }
                    }
                    if (control == 'partCheck') {
                        let count = 0;
                        for (i = 0; i < agrees.length; i++) {
                            if (agrees[i].checked == true) {
                                count++;
                            }
                            if (agrees[i].checked == false) { //부분동의를 하나라도 선택 해제시 전체동의 또한 선택 해제
                                allAgree.checked = false;
                                break;
                            }
                        }
                        if (count == 3) { //부분동의를 모두 선택시 전체동의 또한 선택
                            allAgree.checked = true;
                        }
                    }
                },
                addStudio() {
                    //스튜디오 등록
                    axios
                        .post('http://127.0.0.1:7777/studio', this.studio)
                        .then(function(response) {
                            console.log(response.data)
                            alert(`등록되셨습니다.`)
                            location.href = "./test.html"
                        }, function() {
                            console.log('failed')
                        })
                }
            }
        })
    </script>
</body>

</html>