    * {
        box-sizing: border-box;
    }
    
    input[type=text],
    input[type=number],
    select,
    option,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    textarea {
        height: 100px;
    }
    
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    
    input[type=submit],
    button {
        background-color: #747474;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }
    
    input[type=submit]:hover,
    button:hover {
        background-color: #353535;
    }
    
    .container {
        margin: 0 auto;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    .col-25 {
        float: left;
        text-align: "right";
        width: 25%;
        margin-top: 6px;
    }
    
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }
    
    .col-space {
        padding-left: 20px;
    }
    
    .row:after {
        /* 열 다음에 Clear floats */
        content: "";
        display: table;
        clear: both;
    }
    
    table#agreeTable {
        padding-bottom: 20px;
        border-top: 1px solid #747474;
    }
    
    #agreeTable tr#partAgree {
        background: white;
        height: 80px;
    }
    
    #agreeTable tr#allAgree {
        background: #D5D5D5;
        height: 50px;
    }
    
    #agreeTable a:link,
    #agreeTable a:visited {
        color: #353535;
    }
    
    .modal {
        /* Modal 전체 */
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
        /* Modal 내용 */
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    /* Modal 닫기 버튼 */
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    @media screen and (max-width: 950px) {
        /* 반응형 : 너비 950px 이하 */
        .col-25,
        .col-75,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
        .col-space {
            padding-left: 0;
        }
    }