.container {
    width: 95%;
}

aside {
    align-content: center;
}

#reservation-floating-banner {
    background-color: #ffff;
    /* box-shadow: 5px 9px rgb(196, 194, 194); */
    /* position: absolute; */
    width: 100%;
    padding: 3px 10px;
}

.reservation-Information-area {
    border-right: 1px solid black;
    padding-right: 10px;
}

#Studio-Filter-Table {
    font-size: 20px;
    height: 250px;
}

#Studio-Filter-Table>thead>th {
    padding-bottom: 15px;
}

#Studio-Filter-Table>tbody>tr>td {
    height: 40px;
    padding: 0 !important;
}

#Studio-Filter-Table tr {
    border-bottom: 1.5px solid #bbb5b5;
}

#Studio-Filter-Table tr td {
    text-align: center;
}

.input-reserve-info-field {
    width: 60%;
    float: right;
    margin: 5% 4% 5% 0%;
    padding-right: 20px;
    border-right: 1px solid black;
}

.date-input-field {
    margin-left: 5%;
    width: 35%;
    float: left;
}

.time-input-field {
    width: 30%;
    float: right;
    margin-right: 5%;
}

#start_time,
#end_time {
    border-radius: 5%;
    border: 1.5px solid lightgray;
    width: 40%;
}

#totalPeople {
    display: block;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
}

#reservation-btn {
    margin: 5% auto;
}

.calender_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 730px;
}

.pricing-field {
    font-size: 15px;
    font-weight: 600;
}

.pricing-field>table {
    height: 180px;
}

.pricing-field>table>tr>td:nth-child(2) {
    font-size: 20px;
}

.pricing-field>table>tr {
    padding: 20px 0;
}