.container {
    width: 100%;
}

aside {
    align-content: center;
}

#reservation-floating-banner {
    background-color: #ffff;
    /* box-shadow: 5px 9px rgb(196, 194, 194); */
    /* position: absolute; */
    width: 100%;
    padding: 3px 10px;
}

.input-reserve-info-field {
    width: 100%;
    margin: 5% auto;
}

.date-input-field {
    margin-left: 10%;
    width: 30%;
    float: left;
}

.time-input-field {
    width: 30%;
    float: right;
    margin-right: 10%;
}

#totalPeople {
    display: block;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
}