@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
.container {
    width: 768px;
    margin: auto 3em 0 10em 0;
    background-color: azure;
}

#main-images-section {
    width: 768px;
    margin: auto;
}

.tag-list {
    padding: 3px;
}

.tabs-field {
    width: 100%;
    height: 50;
}

.nav-tab {
    margin: 20%;
    list-style-type: none;
    display: inline;
}

article {
    width: 100%;
    float: left;
    border: 1px solid gray;
    margin-bottom: 10em;
}

#Studio-Filter-Table {
    width: 30%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

#Studio-Filter-Table td {
    text-align: right;
    border-bottom: 1px solid #444444;
    padding: 10px;
}

#map {
    width: 40%;
    height: 40%;
    border: 1px solid green;
}

#Studio-Filter-Table tr td {
    border: 1px solid gray;
    text-align: right;
}

.carousel-inner img {
    width: 100%;
    height: 550px;
}

.tagBtn {
    display: inline;
}