/* basic style */

body {
    margin: 5% 5% 5% 5%;
    width: 80%;
    padding: 20px;
}

#main-images-section {
    margin: 5% 0 5% 0;
}

article {
    width: 60%;
    float: left;
    border: 1px solid gray;
}

aside {
    width: 35%;
    margin-left: 5%;
    float: left;
    border: 1px solid gray;
}


/* hr {
    width: 90%;
} */

#map {
    width: 40%;
    height: 40%;
    border: 1px solid green;
}

#Studio-Filter-Table tr td {
    border: 1px solid gray;
}


/* carousel style */

.carousel-inner img {
    width: 100%;
    height: 550px;
}


/* 플로팅 예약 창 */

#reservation-floating-banner {
    background-color: #F0F0F0;
    position: absolute;
    width: 25%;
    padding: 3px 10px
}