        #app {
            background-color: #ffffff;
            margin: auto;
            width: 768px;
            text-align: center;
            padding: 1% 0 5% 0;
        }
        
        input[type=text],
        input[type=number],
        select,
        option,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        
        textarea {
            height: 100px;
            resize: none;
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        
        button {
            background-color: #33A3DC;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        
        button#reset {
            margin-right: 10px;
        }
        
        button#reset {
            background-color: #747474;
            float: left;
        }
        
        input:focus,
        textarea:focus {
            border: 2px solid #000000 !important;
        }
        
        button:hover {
            background-color: #034EA2;
        }
        
        button#reset:hover {
            background-color: #333333;
        }
        
        button#delete {
            background-color: #DB5D55;
        }
        
        button#delete:hover {
            background-color: #BD1004;
        }
        
        .optionBtn {
            padding: 5px 10px;
            margin: 20px 35px;
        }
        
        .container {
            margin: 0 auto;
            border-radius: 5px;
            background-color: white;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 50px;
        }
        
        .col-25 {
            float: left;
            text-align: "right";
            width: 25%;
            margin-top: 6px;
        }
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        
        .col-space {
            padding-left: 20px;
        }
        
        .row:after {
            /* 열 다음에 Clear floats */
            content: "";
            display: table;
            clear: both;
        }
        /* 파일 업로드 */
        
        .uploadTotal {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        
        .uploadArea {
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            position: relative;
            width: 15%;
            height: 15%;
            overflow: hidden;
            padding-bottom: 15%;
            margin: 2%;
        }
        
        .uploadImg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .uploadImg:hover {
            opacity: 0.30;
        }
        
        .uploadResetBtn {
            position: absolute;
            top: 87%;
            left: 50%;
            width: 110%;
            height: 30%;
            transform: translate(-50%, -50%);
            text-align: center;
            background: transparent;
            background: #aaa;
            color: #000000;
            opacity: 0.70;
            font-weight: bold;
            font-size: 12px;
            border: none;
            border-radius: 0;
            padding: 0px 0px;
            display: none;
        }
        
        .uploadResetBtn:hover {
            background: #000000;
            color: white;
            opacity: 1;
        }
        /* 운영시간 */
        
        #dayList {
            margin-top: 13px;
            margin-bottom: 13px;
        }
        
        #dayList span {
            margin-right: 5px;
        }
        
        #dayNo {
            display: none;
        }
        
        select {
            overflow-y: hidden;
        }
        
        .daySelect {
            display: none;
            margin-top: 20px;
        }
        
        .daySelect select {
            border-width: 0;
            margin: -5px;
            outline: none;
        }
        
        .daySelect option {
            padding: 6px;
            width: 60px;
        }
        /* 체크박스 및 운영 시간표 CSS */
        
        .dayLabel {
            padding: 0;
        }
        
        input[name="day"]+label,
        input[name="dayHide"]+label {
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #8C8C8C;
            cursor: pointer;
            border-radius: 2px;
        }
        
        input[id="mon"]:checked+label {
            background-color: #46E8CC;
        }
        
        select[id="monTime"] option:checked {
            background: #46E8CC linear-gradient(0deg, #46E8CC 0%, #46E8CC 100%);
        }
        
        input[id="tue"]:checked+label {
            background-color: #49E1F2;
        }
        
        select[id="tueTime"] option:checked {
            background: #49E1F2 linear-gradient(0deg, #49E1F2 0%, #49E1F2 100%);
        }
        
        input[id="wed"]:checked+label {
            background-color: #4DA6DB;
        }
        
        select[id="wedTime"] option:checked {
            background: #4DA6DB linear-gradient(0deg, #4DA6DB 0%, #4DA6DB 100%);
        }
        
        input[id="thu"]:checked+label {
            background-color: #4987F2;
        }
        
        select[id="thuTime"] option:checked {
            background: #4987F2 linear-gradient(0deg, #4987F2 0%, #4987F2 100%);
        }
        
        input[id="fri"]:checked+label {
            background-color: #4657E8;
        }
        
        select[id="friTime"] option:checked {
            background: #4657E8 linear-gradient(0deg, #4657E8 0%, #4657E8 100%);
        }
        
        input[id="sat"]:checked+label {
            background-color: #A244F2;
        }
        
        select[id="satTime"] option:checked {
            background: #A244F2 linear-gradient(0deg, #A244F2 0%, #A244F2 100%);
        }
        
        input[id="sun"]:checked+label {
            background-color: #C941E8;
        }
        
        select[id="sunTime"] option:checked {
            background: #C941E8 linear-gradient(0deg, #C941E8 0%, #C941E8 100%);
        }
        
        input[name="dayHide"]:checked+label {
            background-color: #E66B67;
        }
        
        input[name="day"],
        input[name="dayHide"] {
            display: none;
        }
        /* 태그 */
        
        .tag {
            padding-right: 10px;
        }
        
        #hashtag1,
        #hashtag2,
        #hashtag3 {
            color: grey;
            margin-top: -1px;
            padding-left: 10px;
            position: absolute;
            font-size: 16px;
        }
        /* 주소 */
        
        input[name='address1'] {
            float: left;
            width: 80%;
            margin-bottom: 5px;
        }
        
        button#searchAddr,
        button#closeAddr {
            width: 18%;
        }
        
        button#closeAddr,
        input[name='address2'] {
            display: none;
        }
        /* 층수, 시간당 대여료, 인원 추가시 1인당 대여료, 
        기본 인원, 최대 인원, 주차 가능 대수의 단위를 input 안에 넣음 */
        
        .outContainer {
            text-align: right;
            width: 83%
        }
        
        .inContent {
            color: grey;
            margin-top: 2px;
            position: absolute;
            font-size: 16px;
        }
        /* 면적 토글을 input 안에 넣음 */
        
        .sizeLabel {
            margin-top: -5px;
            margin-left: -40px;
            position: absolute;
            font-size: 16px;
        }
        /* 면적 토글 */
        
        .tgl {
            display: none;
        }
        
        .tgl,
        .tgl:after,
        .tgl:before,
        .tgl *,
        .tgl *:after,
        .tgl *:before,
        .tgl+.tgl-btn {
            box-sizing: border-box;
        }
        
        .tgl::-moz-selection,
        .tgl:after::-moz-selection,
        .tgl:before::-moz-selection,
        .tgl *::-moz-selection,
        .tgl *:after::-moz-selection,
        .tgl *:before::-moz-selection,
        .tgl+.tgl-btn::-moz-selection {
            background: none;
        }
        
        .tgl::selection,
        .tgl:after::selection,
        .tgl:before::selection,
        .tgl *::selection,
        .tgl *:after::selection,
        .tgl *:before::selection,
        .tgl+.tgl-btn::selection {
            background: none;
        }
        
        .tgl+.tgl-btn {
            outline: 0;
            display: block;
            width: 4em;
            height: 2em;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .tgl+.tgl-btn:after,
        .tgl+.tgl-btn:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }
        
        .tgl+.tgl-btn:after {
            left: 0;
        }
        
        .tgl+.tgl-btn:before {
            display: none;
        }
        
        .tgl:checked+.tgl-btn:after {
            left: 50%;
        }
        
        .tgl-flip+.tgl-btn {
            padding: 2px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            font-family: sans-serif;
            -webkit-perspective: 100px;
            perspective: 100px;
        }
        
        .tgl-flip+.tgl-btn:after,
        .tgl-flip+.tgl-btn:before {
            display: inline-block;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 4px;
        }
        
        .tgl-flip+.tgl-btn:after {
            content: attr(data-tg-on);
            background: #034EA2;
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }
        
        .tgl-flip+.tgl-btn:before {
            background: #33A3DC;
            content: attr(data-tg-off);
        }
        
        .tgl-flip+.tgl-btn:active:before {
            -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
        }
        
        .tgl-flip:checked+.tgl-btn:before {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        
        .tgl-flip:checked+.tgl-btn:after {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            left: 0;
            background: #034EA2;
        }
        
        .tgl-flip:checked+.tgl-btn:active:after {
            -webkit-transform: rotateY(20deg);
            transform: rotateY(20deg);
        }
        /* 주차가능 수직정렬 */
        
        div#verticalFit {
            padding-top: 13px;
            margin-bottom: 13px;
        }
        /* 장비 및 옵션 관련 */
        
        .select {
            display: block;
        }
        /* 서비스 동의 */
        
        table#agreeTable {
            border-top: 1px solid #233157;
            border-collapse: collapse;
        }
        
        #agreeTable tr#partAgree {
            background: white;
            height: 60px;
        }
        
        #checkAgree2 {
            border-left: 1px solid #8E97A3;
            border-right: 1px solid #8E97A3;
        }
        
        #agreeTable td#allAgree {
            background: #33A3DC;
            border-top: 1px solid #8E97A3;
            height: 50px;
        }
        
        #agreeTable a:link,
        #agreeTable a:visited {
            color: #353535;
        }
        
        #submitArea {
            padding-top: 10px;
        }
        /* Modal 전체 */
        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 80px;
            padding-bottom: 80px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }
        /* Modal 내용 */
        
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            overflow: auto;
            text-align: left;
            padding: 30px;
            border: 1px solid #888;
            width: 80%;
            height: 100%;
        }
        /* Modal 닫기 버튼 */
        
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /* 반응형 : 너비 768px 이하 */
        
        @media screen and (max-width: 768px) {
            #app {
                width: 100%;
            }
            .col-25,
            .col-75,
            input[type=submit],
            input[type=button] {
                width: 100%;
                margin-top: 0;
            }
            .col-space {
                padding-left: 0;
            }
            .tag {
                padding-right: 0px;
            }
        }
        /* 반응형 : 너비 375px 이하 */
        
        @media screen and (max-width: 375px) {
            /* 주소 찾기/닫기 버튼 너비 조정 */
            input[name='address1'] {
                width: 73%;
            }
            button#searchAddr,
            button#closeAddr {
                width: 25%;
            }
            /* 업로드 삭제 버튼 글씨 크기 조정 */
            .uploadResetBtn {
                font-size: 10px;
            }
            /* 반응형 : 너비 500px 이하 */
            @media screen and (max-width: 500px) {
                /* 모달 너비 조정 */
                .modal {
                    padding-top: 50px;
                    padding-bottom: 30px;
                }
                .modal-content {
                    width: 100%
                }
                .modal-addr-content {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .container {
                    padding-bottom: 20%;
                }
            }
        }
        /* 반응형 : 너비 500px 이하 */
        
        @media screen and (max-width: 500px) {
            /* 모달 너비 조정 */
            .modal {
                padding-top: 50px;
                padding-bottom: 30px;
            }
            .modal-content {
                width: 100%
            }
            .modal-addr-content {
                padding-left: 10px;
                padding-right: 10px;
            }
            .container {
                padding-bottom: 20%;
            }
        }
        /* 반응형 : 너비 320px 이하 */
        
        @media screen and (max-width: 320px) {
            /* 운영 시간에서 전체선택, 전체해제 영역 한줄 내리기 */
            span#dayAll {
                display: block;
            }
            /* 서비스 동의 영역 글씨 크기 조정 */
            table {
                font-size: 12px;
            }
        }