/* basic style */

body {
    width: 80%;
    height: 100%;
}

#main-images-section {
    margin: 5% 0 5% 0;
}

article {
    width: 60%;
    float: left;
    border: 1px solid gray;
}

aside {
    width: 30%;
    margin-left: 5%;
    float: left;
    border: 1px solid gray;
}


/* hr {
    width: 90%;
} */

#map {
    width: 40%;
    height: 40%;
    border: 1px solid green;
}

#Studio-Filter-Table tr td {
    border: 1px solid gray;
}


/* carousel style */

.carousel-inner img {
    width: 100%;
    height: 550px;
}

._uk27cm {
    position: absolute !important;
    left: 0px !important;
    top: 100% !important;
    z-index: 1 !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
    margin-top: 12px !important;
    background: rgb(255, 255, 255) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    border-image: initial !important;
    border-radius: 12px !important;
    overflow: hidden !important;
    padding: 8px 24px !important;
}