.mypage_container {
    background-color: #f8f8f8;
    padding: 10px 0 61px 0;
}

.mypage_card {
    background-color: #fff;
    width: 99%;
    overflow: scroll;
    margin: auto;
    height: 180px;
    text-align: left;
}

.mypage_card::-webkit-scrollbar {
    display: none;
}

.mypage_card table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.mypage_card th {
    background-color: #E5EDF5 !important;
    height: 30px;
    position: sticky;
    top: -8px;
}

.mypage_card td {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #b5b5b5a9;
    height: 30px;
    overflow: hidden;
}

.list_btn {
    background-color: white;
    color: #029BE0;
    border: none;
    padding: 5px 7px 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.list_btn:hover {
    background-color: #029BE0;
    border: none;
    color: #fff;
}

.linkToChatModal {
    color: #448aff;
    cursor: pointer;
}

.linkToChatModal:hover {
    text-decoration: underline;
}