#month_header {
    margin: 10px;
    padding: 20px 0 10px 0;
}

#month_header img {
    width: 20px;
    margin: 10px;
}

#month_header span {
    font-size: 2em;
    font-weight: bold;
}

#month_header button {
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.list_table table {
    width: 98%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.list_table th {
    background-color: white !important;
    position: sticky;
    top: -8px;
    height: 50px;
}

.list_table td {
    border-bottom: 1px solid #b5b5b5a9;
}

.vue-monthly-picker {
    width: 100px;
    display: table-row;
}