<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <form id="app" method="post" @submit.prevent="addStudio">
        <table>
            <tr>
                <td>스튜디오 이름</td>
                <td>
                    <input type="text" name="name" v-model="studio.name">
                </td>
            </tr>
            <tr>
                <td>스튜디오 종류</td>
                <td>
                    <select name="categoryId" v-model="studio.categoryId">
                        <option value="1">카페</option>
                        <option value="2">스튜디오</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>소개</td>
                <td>
                    <textarea rows="5" col="50" wrap="hard" name="description" v-model="studio.description">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>이용수칙</td>
                <td>
                    <textarea rows="5" col="50" wrap="hard" name="rule" v-model="studio.rule">
                    </textarea>
                </td>
            </tr>
            <tr>
                <!-- 파일 업로드 영역 -->
                <td>대표사진</td>
                <td>
                    <input type="text" name="mainImg" v-model="studio.mainImg">
                    <br/>
                </td>
            </tr>
            <tr>
                <td>태그</td>
                <td>
                    <input type="text" name="tag">
                </td>
            </tr>
            <tr>
                <td>층수</td>
                <td>
                    <input type="text" name="floor" v-model="studio.floor">
                </td>
            </tr>

            <tr>
                <!-- 파일 업로드 영역 -->
                <td>공간도면</td>
                <td>
                    <input type="text" name="cadImg" v-model="studio.cadImg">
                </td>
            </tr>
            <tr>
                <!-- 파일업로드 영역 -->
                <td>포트폴리오</td>
                <td>
                    <input type="text" name="portImg" v-model="studio.portImg">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <td>ㅇ</td>
                            <td>ㅇ</td>
                            <td>ㅇ</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                전체동의
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colpsan="2">
                    <button>임시저장</button>
                    <button type="submit">등록</button>
                </td>
            </tr>
        </table>
    </form>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    studio: {
                        categoryId: '',
                        name: '',
                        description: '',
                        rule: '',
                        mainImg: '',
                        portImg: '',
                        cadImg: '',
                        floor: ''
                    }
                }
            },
            methods: {
                addStudio() {
                    alert("출력");
                    axios
                        .post('http://127.0.0.1:7777/studio', this.studio)
                        .then(function(response) {
                            console.log(res.data)
                            alert(`등록되셨습니다.`)
                            location.href = "./test2.html"
                        }, function() {
                            console.log('failed')
                        })
                }
            }
        })
    </script>
</body>

</html>